*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
  max-width: 700px;
}

img {
  width: 100%;
  margin: 0;

}

figure {
  margin: 0;
}

.film {
  width: 80%;
  margin: 40px auto;
  border: solid grey 2px;
  padding: 10px;
  position: relative;
}
.film-title{
  margin: 0;
}
.film-poster{
  display: inline-block;
  width: 30%;
  position: relative;


}
.film-description{
  margin: 0;

}
.film-details{
  float: right;
  width: 70%;
  padding-left: 10px;

}
.action-watch-later{
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
}
.action-like{
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: red;

}
